<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.dao.ImgadvDao">

    <resultMap type="com.it.entity.Imgadv" id="BaseResultMap">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="filename" property="filename" jdbcType="VARCHAR"/>
    </resultMap>


    <select id="selectAll"  resultMap="BaseResultMap">
        select * from imgadv where 1=1
        order by id
    </select>
    <insert id="add" parameterType="com.it.entity.Imgadv">
        insert into imgadv values(null,#{filename})
    </insert>
    <delete id="delete" parameterType="Integer">
        delete from imgadv where id=#{id}
    </delete>

</mapper>